<!DOCTYPE html>
<html ng-app="Timer">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Interval timer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/compiled/styles.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,100">
  </head>
  <body ng-controller="MainCtrl">

    <section class="time-display">
      <div>
        <span ng-show="TimeRemaining <= 0 && TotalTime() >=60" class="seconds">
          {{TotalTime()*1000 | date:'m:ss'}}
        </span>
        <span ng-show="TimeRemaining <= 0 && TotalTime() < 60" class="seconds">
          {{TotalTime()*1000 | date:'ss'}}
        </span>

        <span ng-show="TimeRemaining >= 60" class="seconds">
          {{TimeRemaining*1000 | date:'m:ss'}}
        </span>
        <span ng-show="TimeRemaining < 60 && TimeRemaining > 0" class="seconds">
          {{TimeRemaining*1000 | date:'ss'}}
        </span>

      </div>
    </section>

    <section class="controls">
      <div class="play-pause">
        <button ng-click="ToggleTimer()" ng-bind="toggleLabel"></button>
        <button ng-click="ResetTimer()" ng-bind="strings.Reset"></button>
      </div>
      <div class="time-input">
        <label for="minutes">Minutes</label>
        <input type="number" id="min" ng-model="totalMinutes"/>
        <label for="sec">Seconds</label>
        <input type="number" id="sec" ng-model="totalSeconds">
      </div>
    </section>



    <script src="js/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/bower_components/underscore/underscore.js"></script>
    <script src="js/bower_components/angular/angular.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>