<!DOCTYPE html>
<html ng-app="Timer">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Interval timer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/compiled/styles.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,100">
  </head>
  <body ng-controller="MainCtrl">

    <section class="time-display">
      <div>
        <span class="minutes">
          00
        </span>
        <span class="seconds">
          {{TimeRemaining > 0 ? TimeRemaining : TotalTime | formatSecs}}
        </span>
      </div>
    </section>

    <section class="controls">
      <button ng-click="ToggleTimer()" ng-bind="toggleLabel"></button>
      <button ng-click="ResetTimer()" ng-bind="strings.Reset"></button>
    </section>



    <script src="js/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/bower_components/underscore/underscore.js"></script>
    <script src="js/bower_components/angular/angular.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>