<!DOCTYPE html>
<html ng-app="Timer">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Interval timer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/compiled/styles.css">
  </head>
<body ng-controller="MainCtrl">

  <div>
    Total seconds:
    <input type="number" ng-model="TotalTime">
  </div>

  <div>
    <button ng-click="ToggleTimer()" ng-bind="toggleLabel"></button>
    <button ng-click="ResetTimer()" ng-bind="strings.Reset"></button>
  </div>

  <div>
    {{TimeRemaining}} seconds
  </div>

  <script src="js/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="js/bower_components/underscore/underscore.js"></script>
  <script src="js/bower_components/angular/angular.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>